.tb_amount{
    line-height:50px;
    color: #1c1c1c;
    font-weight: 600;
    font-size: 14px;
}
.work_date{
    line-height:50px;
    color: #1c1c1c;
    font-weight: 600;
    font-size: 14px;
}

.work-heading{
    color: #1c1c1c;
    margin: 10px 0px;
}

.work-table thead>tr{
    background-color: white;
}

.work-table th{
    color: #939393;
    font-weight: 500;
}
